<h1>Eat-da-Burgers!</h1>
<h2>A Model View Controller Applocation using Express JS, Handlebars JS and MySQL</h2>

<div class="flex-container">

  <div class="eatBurger">
    <h2>Burgers that are not devoured!</h2>

    <ol>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burger/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ol>
  </div>

  <div>
    <img src="/assets/images/fat_creepy_ronald.jpg">
  </div>

  <div class="eatBurger">
    <h2>Burgers that are devoured!</h2>

    <ol>
      {{#each burgers}}
        {{#if devoured}}
          {{> burger/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ol>
  </div>

</div>

  <div class="addBurger">

    <h2>Create Your Own Unique Burger Below</h2>

    <form class="create-form">

      <div class="form-group">
        <input type="text" id="ca" name="burger_name">
      </div>

      <button type="submit">Submit Your Burger</button>
    </form>

    <h3>Enter a burger that you would like to eat and 'Click' the "Submit Your Burger" Button</h3>

  </div>